/*
* Erin Kelleher
* Due Date
* Box Model
*/

/* The universal selector */

* {
    margin: 0;
    padding: 0;
}

/* Body attributes here */

body {

}
h1 {
    border: 4px dashed pink;
    padding: 10px;
    margin: 15px;
}
p{
    border: 4px dashed lightblue;
    padding: 10px;
    margin: 20px;
}
main {
    border: 5px solid purple;
    padding: 20px;
    margin: 10px;
}
body {
    border: 6px dotted lightgreen;
    padding: 10px;
    margin: 15px;
}